*{margin:0;padding:0;}
.font_small{
    font-size:0.8rem;
}
.my_header,.my_footer{width:100%;}
@media (min-width:992px){
    .my_footer{height:22rem;}
    .my_header{height:21rem;}
}
@media (min-width:576px) and (max-width:991px){
    .my_footer{height:22rem;}
    .my_header{height:21rem;}
}