.my_header,.my_footer{width:100%;}
@media (min-width:992px){
    .my_footer{height:22rem;}
    .my_header{height:21rem;}
}
@media (min-width:576px) and (max-width:991px){
    .my_footer{height:22rem;}
    .my_header{height:21rem;}
}

.carousel-control-prev,
.carousel-control-next{
    width:4%;height:20%;top:40%;
    background-color:#aaa;border-radius:0.25rem;
}
.carousel-indicators li{
    width:0.8rem;height:0.8rem;
    background:#fff;
    border-radius:50%;
    margin-right:10px;
    margin-left:10px;
}
.carousel-indicators .active{
    background: #7bbe60;}

.top_width{height:377px;border-radius: 0.25rem;}


.f_bg{background:linear-gradient(to bottom,#e7eee2,#dfeec7);}

.top_img{width:50px;height:50px;}
.top_font{font-size:20px;}

.top_left_imgs{width:300px;height:250px;
  border-radius: 1rem;
  
}
.top_left_ul{font-size:18px;color:rgb(226, 29, 29);}
.top_left_ul::before{
    content: "";
    display: table;
}

@media (min-width:992px){
    .top_left_imgs,
    .top_right_imgs{
        margin-top:-253px;
        margin-right:30px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .top_left_imgs,
    .top_right_imgs{
        margin-top:-253px;
        margin-right:30px;
    }
}
@media (max-width:767px){
    .top_left_imgs,
    .top_right_imgs{
        margin-top:-250px;
        margin-right:22px;
    }
}

.top_right_imgs{width:240px;height:200px;
  border-radius:1rem;
}


.bottom_left_imgs{
    width:180px;height:160px;
    border-radius:1rem;
}
.boott_left_border::before{
    content: "";
    display: table;
}

@media (min-width:992px){
    .bottom_left_ul{
        margin-top:-253px;
        margin-right:30px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .bottom_left_ul{
        margin-top:-253px;
        margin-right:30px;
    }
}
@media (max-width:767px){
    .bottom_left_ul{
        margin-top:-250px;
        margin-right:22px;
    }
}

.bottom_imgs{
    width:200px;
    height:250px;
    transition:1.5s;
}
.bottom_imgs:hover{
    transform: scale(1.1);
}